.root {
    -fx-font-size: 14pt;
    -fx-font-family: "Courier New";
    -fx-base: rgb(26,26,46);
    -fx-background: rgb(22,33,62);
}

#title {
    -fx-font-size: 32pt;
    -fx-font-family: "Courier New";
}

#top-panel {
    -fx-background-color: rgb(26,26,46);
}

#side-panel {
    -fx-background-color: rgb(26,26,46);
}