.root {
  -fx-font-size: 14pt;
  -fx-font-family: "Courier New";
  -fx-base: rgb(0, 83, 155);
  -fx-background: rgb(204, 204, 255);
}

#title {
  -fx-font-size: 32pt;
  -fx-font-family: "Courier New";
}

#top-panel {
  -fx-background-color: rgb(0, 128, 128);
}

#side-panel {
  -fx-background-color: rgb(224, 176, 255);
}

.gameOfLife-alive {
  -fx-fill: black;
}

.gameOfLife-empty {
  -fx-fill: lightgrey;
}

.percolation-block {
  -fx-fill: black;
}

.percolation-water {
  -fx-fill: blue;
}

.percolation-empty {
  -fx-fill: lightgrey;
}

.segregationmodel-agentx {
  -fx-fill: red;
}

.segregationmodel-agenty {
  -fx-fill: blue;
}

.segregationmodel-empty {
  -fx-fill: lightgrey;
}

.spreadingoffire-fire {
  -fx-fill: brown;
}

.spreadingoffire-tree {
  -fx-fill: green;
}

.spreadingoffire-empty {
  -fx-fill: yellow;
}

.wator-fish {
  -fx-fill: green;
}

.wator-shark {
  -fx-fill: blue;
}

.wator-empty {
  -fx-fill: lightgrey;
}

.rockpaperscissors-rock {
  -fx-fill: red;
}

.rockpaperscissors-paper {
  -fx-fill: blue;
}

.rockpaperscissors-scissors {
  -fx-fill: green;
}

.rockpaperscissors-empty {
  -fx-fill: lightgrey;
}