.root {
    -fx-font-size: 14pt;
    -fx-font-family: "Courier New";
    -fx-base: rgb(248,233,217);
    -fx-background: rgb(254,252,250);
}

#title {
    -fx-font-size: 32pt;
    -fx-font-family: "Courier New";
}

#top-panel {
    -fx-background-color: rgb(248,233,217);
}

#side-panel {
    -fx-background-color: rgb(248,233,217);
}